<launch>

  <arg name="idc_file" default="$(find ibeo_8l_client)/record/20190320-085450.idc"/>
  <node name="ibeo_file_sim_default" pkg="ibeo_8l_client" type="ibeo_file_sim">
	<param name = "idc_file" type="string" value ="$(arg idc_file)" />
  </node>
  <node name="cloud_extration" pkg="object_tracker" type="object_tracker" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find object_tracker)/rviz/cloudtest.rviz"/>

</launch>
