<launch>

  <!-- <arg name="idc_file" default="$(find ibeo_8l_client)/record/20190320-085450.idc"/>
  <node name="ibeo_file_sim_default" pkg="ibeo_8l_client" type="ibeo_file_sim" output="screen">
	  <param name = "idc_file" type="string" value ="$(arg idc_file)" />
  </node> -->




  <node name="obj_visualization" pkg="ibeo_8l_client" type="obj_visualization">
	  <param name = "ibeo_object_topic" type="string" value ="/ibeo_objects_retrack" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find object_tracker)/rviz/track_test.rviz"/>
  
  <node name="object_tracker" pkg="object_tracker" type="object_tracker" output="screen"/>

  <node name="translate_for_velodyne" pkg="translate_for_velodyne" type="translate_for_velodyne"/>
</launch>
